<head>
  {{ partial "meta" . }}
  {{ hugo.Generator }}
  {{ template "_internal/schema.html" . }}
  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/twitter_cards.html" . }}
  {{ template "_internal/google_news.html" . }}

  {{ if .Site.Params.highlightjs }}<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/{{ .Site.Params.highlightjsTheme | default "default" }}.min.css">{{ end }}
  {{ range .Site.Params.cssFiles }}
    {{ if eq . "default" }}
      <link rel="stylesheet" href="{{ "css/normalize.css" | relURL}}">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800,900|Source+Sans+Pro:400,700">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/academicons/1.8.6/css/academicons.min.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css" integrity="sha384-i1LQnF23gykqWXg6jxC2ZbCbUMxyw5gLZY6UiUS98LYV5unm8GWmfkIS6jqJfb4E" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css" />
      {{ $mainCSSOptions := (dict "targetPath" "css/main.min.css" "outputStyle" "compressed") }}
      {{ $style := resources.Get "scss/main.scss" | resources.ToCSS $mainCSSOptions | resources.Fingerprint }}
      <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
      <link rel="stylesheet" href="{{ "css/add-on.css" | relURL }}">
    {{ else }}
      <link rel="stylesheet" href="{{ . | relURL }}">
    {{ end }}
  {{ end }}
  {{ .Scratch.Set "Permalink" .Permalink }}
  {{ .Scratch.Set "Title" .Title }}
  {{ if .Params.Author}}
    {{ .Scratch.Set "Author" .Params.Author }}
  {{ else }}
    {{ .Scratch.Set "Author" .Author }}
  {{ end }}
</head>
